@media (max-width: 767px) {
  .section {
    width: 75%;
  }

  .name-conv {
    display: none;
  }

  .search, .nested {
    width: 10%;
  }

  .header .nav-item:nth-child(3) {
    width: 55%;
  }

  .article {
    position: relative;
  }

  .cover-on {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
  }

  .cover-off {
    z-index: -99;
  }
}

@media (max-width: 575px) {
  body{
  font-size: 14px;
  }

  .organizer {
    font-size: 12px;
  }

  .left-aside{
    width: 15%;
  }

  .section {
    width: 85%;
  }

  .file, .emoji, .micro, .video {
    width: 10%;
  }

  .form-message {
    width: 60%;
    background-color: #e7ebf0;
  }

  .header .nav .nav-link {
    padding: 0.8rem 0;
  }

}

